nav {
    height: 10rem;
}

.menu {
    --line-thickness: 2px;
    --line-color: rgb(147, 147, 147);

     height: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(24, 1fr);
    margin: 0 auto;
    column-gap: .5rem;
    align-items: center;
    overflow: hidden;
}

.menu__item {
    list-style: none;
    position: relative;
}

.menu__link::before {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
}


.menu__logo {
    max-width: 25rem;
    grid-area: 1/7/2/19;
    justify-self: center;
}

.menu__bars {
    grid-area: 1/1/2/2;
}

.menu__search {
    grid-area: 1/2/2/3;
}

.menu__login {
    grid-area: 1/23/2/-1;
    justify-self: end;
}

.menu__news {
    grid-area: 2/11/3/12;
    justify-self: center;
}

.menu__podcast {
    grid-area: 2/12/3/13;
    justify-self: center;
}

.menu__subscribe {
    grid-area: 2/13/3/15;
    flex-flow: row wrap;
    justify-self: center;
}